
body {
  padding: 5%;
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('https://s-media-cache-ak0.pinimg.com/236x/be/2a/94/be2a940c4ac312bf5abc0aa9677749de.jpg') no-repeat center center fixed;
  background-size: cover;
}

.body {
  width: 30%;
  padding: 8%;
  margin: auto;
  text-align: center;
  background: rgba(255,255,255,0.25);  
  border-radius: 10%;
  font-family: Helvetica;
  font-weight: 50px;
}

h1 {
  margin: auto;
}

img, input, button {
  display: block;
  margin: 20px auto;
}

p {
  font-size: 50px;
  word-wrap: break-word;
}

.form-container {
  border: 2px solid white;
}

#hoverBox {
  border: 2px solid white;
  height: 150px;
  margin: 20px auto;
  padding: 5px;
  width: 150px;
}